# Version constraints for pip-installation.
#
# This file doesn't install any packages. It specifies version constraints
# that will be applied if a package is needed.
#
# When pinning something here, please provide an explanation of why.  Ideally,
# link to other information that will help people in the future to remove the
# pin when possible.  Writing an issue against the offending project and
# linking to it here is good.

# Django version 2.0.0 dropped support for python 2.7
Django<2.0

# Version used in Ironwood version of edx-platform
edx-opaque-keys<1.0.0

# Already in python3 standard library
futures; python_version == "2.7"

# pylint version 2.0.0 dropped support for python 2.7
# See: https://github.com/PyCQA/pylint/blob/master/doc/whatsnew/2.0.rst
pylint<2.0

# django-filter 2.0 release isn't compatible with python 2
# See:
django-filter<2.0
